gspread
oauth2client
google-auth
google-auth-oauthlib
google-auth-httplib2
pandas
streamlit
geopy>=2.0.0
scikit-learn>=1.0.0
gspread-dataframe==4.0.0
faiss-cpu==1.11.0
huggingface-hub==0.12.0
sentence-transformers==2.1.0
tokenizers==0.13.2  # เวอร์ชันที่รองรับ

